<section>
    <div="container mt-4 ">
        <div class=" row ml-4">
        <div class="col-md-6 ml-4">
            <h2 class="text-center">Add Category</h2>
            <form action="/admin/addcategory" method="POST">
                <label for="">Category </label>
                <input type="text" name="category" class="form-control">
                {{#if data}}
                <p>{{data.err}}</p>
                {{/if}}
                <button type="submit" class="btn btn-success mt-4">Submit</button>
            </form>
        </div>
        </div>
        </div>
</section>