<div class="container col-8" style="padding-top:100px;"> ADD ADDRESS
    <form action="/add-address" method="post" class="row" style="padding-:10px ; ">

        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="first_name" name="first_name" value="" placeholder="First Name"
                required>
        </div>
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
        </div>

        <div class="col-12 mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="" required>
        </div>

        <div class="col-12 mb-3">
            <input type="text" class="form-control " id="address" name="address" placeholder="Address" value="" required>
        </div>
         <div class="col-12 mb-3">
            <input type="text" class="form-control " id="city" name="city" placeholder="City" value="" required>
        </div>
        <div class="col-12 mb-3">
            <input type="text" class="form-control" id="state" name="state" placeholder="State" value="" required>
        </div>
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="zipCode" name="zipcode" placeholder="Zip Code" value="" required>
        </div>
        <div class="col-md-6 mb-3">
            <input type="number" class="form-control" id="phone_number" name="phone_number" min="10"
                placeholder="Phone No" value="" required>

        </div>


        <div class="col-12">

            <input type="submit" value="Add Address" style="border-radius: 5px; background-color: #fbb710; cursor: pointer;" >

        </div>

    </form>
</div>
</div>