<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="text-center"> Your Order Placed Successfully</h1>

            <div class="btn-btn mt-100">
                <a href="/order" class="btn amado-btn w-50">ORDERS</a>
                
            </div>
        </div>
    </div>
</div>