{{!-- <h1>{{message}}</h1>
<img src="https://img.freepik.com/free-vector/empty-concept-illustration_114360-1233.jpg?w=740&t=st=1660582408~exp=1660583008~hmac=47538c7f68e8662f8b9c1431d3b23d6a76dd144dab64a142792d0adaad21129b" alt="">
<div>
    <a href="/index"><button>HOME</button></a>
</div>
{{!-- <h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}} --}}
